#- name: Server Check up
#  hosts: ansible_network_health_check_to
#  gather_facts: yes
#  tasks:
  - name: Register result of tests
#    when: check_to_host ==  inventory_hostname
    delegate_to: "{{check_to_host}}"
    shell: "cat /tmp/ansible_network_health_check_to/{{test_protocol}}_{{test_to_ip}}_{{test_port}}_OUTPUT"
    register: test_reuslts

  - name: Register result of tests
    debug:
      var: test_reuslts

  - name: Check server status
#    when: check_to_host ==  inventory_hostname
    include: tasks/register_test_result.yaml
    vars:
      test_result_string: "{{item}}"
    with_items: "{{test_reuslts.stdout_lines}}"

  - name: Ensure no existing process running
    delegate_to: "{{check_to_host}}"
#    when: check_to_host ==  inventory_hostname
    shell: |
      for PIDFILE in $(ls /tmp/ansible_network_health_check_to/*PID); do
         kill -9 $(cat $PIDFILE)
      done
      exit 0

  - name: ensure tmp folder doesnot exist for clean start
    delegate_to: "{{check_to_host}}"
#    when: check_to_host ==  inventory_hostname
    file:
      path: /tmp/ansible_network_health_check_to/
      state: absent
